.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {

	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gif {
	display: flex;
	flex-direction: column;
	align-items: center;
	background:url('/gif.gif');
	background-repeat: no-repeat;
	background-size:cover;
	width: 100vw;
	height: 25vw;
	min-height: 435px;
}

.contact {
	width:20%;
	height:40px;
	background:url('/linkedin.png');
	cursor: pointer;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .img {
	width: 19px;
	height: 19px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-right: 4px;
}
.title a {
	color: #0070f3;
	text-decoration: none;
}
.flex {
	display: flex;
	margin: 0 10px;
}
.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	cursor: pointer;
}

.title,
.description {
	text-align: center;
	color:darkgray;
}

.titleImg {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin: 20px 0;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
	Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.inPage {
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	width: 100%;
	border-bottom: 1px darkgray dashed;
}

.card {
	margin: 1rem;
	flex-basis: 45%;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h3 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
}
.contactDiv {
	padding: 40px 0;
	width:800px;
	display:flex;
	border-bottom: 1px darkgrey dashed;
}
@media (max-width: 800px) {
	.contactDiv {
		width: 100%;
	}
	.container {
		width: 100%;
	}

	.gif {
		background-position: 25%;
	}
	.gif img {
		width: 100px;
		height: 100px;
	}

	.main {
		width: 90%;
	}

	.description {
		background: #fafafa;
	}

	.description .code {
		background: transparent;
	}
}
@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}

}

.shineHover:hover:after,
.shineHover:hover:before,
.title:hover:after,
.title:hover:before,
.contact:hover:after,
.contact:hover:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.shineHover:hover,
.title:hover,
.contact:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}

.shineHover {
	border-bottom: 1px dashed black;
}
@-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	
	to {
	  -webkit-mask-position: -50%;
	}
  }
.const {
	color: #0070f3;
}

.stringConst {
	color:cadetblue;
}

.string {
	color:darkgoldenrod;
}

.greyBackground {
	background-color: lightgray;
	width: 100%;
	padding: .5rem 1rem;
}

.bookParagraph {
	width: 770px;
	margin: 0 auto;
}